:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-weight: 900;
}

h1, h2, h3, h4 {
    font-family: 'Bree Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.nonexistent_pages {
    color: gray;
}

/* Homework 3 Styling */

#grade-form.hw3 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    max-width: 400px;
}

#grade-form.hw3 .button-row {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    gap: 1rem;

    margin-top: 1rem;
}

#grade-form.hw3 button {
    flex: 1;
    max-width: 150px;
}

#result.hw3 {
  white-space: pre-line;
  font-weight: bold;
}

.hw3 .item-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.hw3 .item-row label {
    display: inline-block;
    width: 60px;
    margin-right: 10px;
}

.hw3 .item-row input {
    width: 130px;
}

#seller-form.hw3 {
    margin-bottom: 20px;
}

/* Homework 4 Styling */

#fourth-int.hw4, #third-int.hw4 {
    white-space: pre;
}

table.hw4 {
    margin-bottom: 30px;
    border: 1px solid black;
    border-collapse: collapse;
}

table.hw4 caption {
    font-family: 'Bree Serif', serif;
}

.hw4 th, .hw4 td {
    border: 1px dashed black;
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
}

.hw4 thead {
    background-color: #b2bec3;
}

.hw4 tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

/* Homework 5 Styling */

#result.hw5p1 {
    white-space: pre-line;
}

fieldset.hw5p1 {
    border: none;
    padding: 0;
    margin: 0;
}

form.hw5p1 div {
    margin-bottom: 1em;
}

form.hw5p2 div {
    margin-bottom: 1em;
}

/* Homework 6 Styling */

.hw6p1 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.hw6p1 div {
    margin-bottom: 15px;
}

.hw6p2 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.hw6p2 div {
    margin-bottom: 15px;
}

/* Homework 7 Styling */

.hw7p1 label[for="beige"], .beige {
    background-color: beige;
}

.hw7p1 label[for="light-grey"], .light-grey {
    background-color: lightgrey;
}

.hw7p1 label[for="underline"], .underline {
    text-decoration: underline;
}

.hw7p1 label[for="bold"], .bold {
    font-weight: bold;
}

.hw7p1 label[for="italic"], .italic {
    font-style: italic;
}

.small-fontsize {
    font-size: 0.75rem;
}

.med-fontsize {
    font-size: 1.25rem;
}

.big-fontsize {
    font-size: 1.5rem;
}

fieldset.hw7p1 {
    border: none;
    padding: 0;
    margin: 0;
}

.hw7p1 div {
    margin: 5px;
}

#text-with-header.hw7p1 {
    border: 1px solid black;
    margin-bottom: 30px;
    padding: 10px;
}

main.hw7p1 {
    margin: 15px;
    margin-bottom: 30px;
}

.hw7p1 legend, .hw7p1 label[for="font-size"] {
    font-weight: bold;
}

.hw7p1 #font-size {
    display: block;
}

#style-choices.hw7p1 {
    margin-bottom: 40px;
}

.hw7p2 div {
    margin: 5px;
}

#content.hw7p2 {
    margin-bottom: 40px;
}